<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo App</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

</head>
<body>
	<h1>Todo List</h1>
	<div>Add a new todo item:
		<form action="{{ url_for('index') }}" method="POST">
			<input type="text" name="note_text">
      <input type = "text" name = "item_category">
			<input type="submit" value="Add Item" class="button">
		</form>
	</div>
  <div>
    <h1>items in todo list</h1>
    {%for r in result%}
    <p>{{ r.note_text }}</p>
		<p>{{ r.timestamp }}</p><br>
    <p>{{r.category}}</p><br>
		{%endfor%}
  </div>
</body>
</html>
